<div *ngIf="isDataAvailable" class="card p-2 m-3">
    <div>
        <iframe [src]="video.url | safe" allowfullscreen="true">
        </iframe>
    </div>
    <div class="card-body btn" (click)="onVideoOpen()">
        <div class="text-truncate" style="max-width: 270px;">
            <h5 class="card-title">{{video.title}}</h5>
            <p class="card-text">{{video.description}}</p>
        </div>
        <div *ngIf="profileView" class="card-container mt-2">
            <div class="row">
                <button class="col-5 btn btn-primary p-1 ms-3" (click)="onUpdateClick()">
                    Update </button>
                <button class="col-5 btn btn-danger p-1 ms-3" (click)="onDelete()"> Delete </button>
            </div>
        </div>
    </div>
</div>

<!-- data-bs-toggle="modal" data-bs-target="#updateVideoModal" -->