<div class="container-fluid">
    <div class="row" *ngIf="isDataAvailable">
        <div class="col-lg-4 col-12">
            <div>
                <div class="row mt-4">
                    <div class="col-7">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="col-5 text-end">
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createVideoModal"
                            (click)="onAddVideoClick()">Add
                            Video</button>
                    </div>
                </div>
                <form [formGroup]="updateAccountForm" (ngSubmit)="onSubmit()">
                    <div class="row mt-3 ">
                        <div class="col-md-12">
                            <label class="labels">Email</label>
                            <input type="text" [attr.disabled]="true" formControlName="email"
                                class="form-control  border-success" placeholder="Email address"
                                autocomplete="new_email" name="new_password">
                            <app-field-error-message [control]="emailControl"></app-field-error-message>
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-md-12">
                            <label class="labels">Username</label>
                            <input type="text" [attr.disabled]="true" formControlName="username"
                                class="form-control  border-success" placeholder="Username" autocomplete="username"
                                name="username">
                            <app-field-error-message [control]="usernameControl"></app-field-error-message>
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-md-12">
                            <label class="labels">Current password <span class="text-muted">(reqired for the update
                                    process)</span></label>
                            <input type="password" formControlName="current_password"
                                class="form-control  border-success " placeholder="Current password"
                                autocomplete="current_password" name="new_password">
                            <app-field-error-message [control]="oldPassword_Control"></app-field-error-message>
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-md-6">
                            <label class="labels">New Password <span class="text-muted">(optional)</span></label>
                            <input type="password" formControlName="new_password" class="form-control  border-success "
                                placeholder="New password" autocomplete="new_password" name="new_password">
                            <app-field-error-message [control]="newPasswordControl"></app-field-error-message>
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Confirm new password <span
                                    class="text-muted">(optional)</span></label>
                            <input type="password" formControlName="confirm_new_password"
                                class="form-control  border-success " placeholder="Confirm new password"
                                autocomplete="confirm_new_password" name="new_password">
                            <app-field-error-message [control]="newPassword_confirmControl"></app-field-error-message>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-success me-3" [disabled]="!updateAccountForm.valid" type="submit">Save
                            Changes</button>
                        <button class="btn btn-danger me-3" (click)="onDelete()" type="button">Delete</button>
                        <button class="btn btn-primary" (click)="onLogout()" type="button">Logout</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8 col-12 d-flex justify-content-start flex-wrap">
            <div *ngFor="let video of videos" class="ms-2">
                <app-video-card [videoModel]="video" [profileView]="true" (deleteEvent)="removeItem($event)"
                    (updateEvent)="updateItem($event)"></app-video-card>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createVideoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Video Create</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-video-form (formSubmitionEvent)="onFormSubmit($event)"></app-video-form>
            </div>
            <div class="modal-footer">
                <button type="button" #closeCreateModalbutton class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateVideoModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Video Update</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-video-form (formSubmitionEvent)="onFormUpdateSubmit($event)"></app-video-form>
            </div>
            <div class="modal-footer">
                <button type="button" #closeUpdateModalbutton class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<button id="openModal" #openModal style="display:none" data-bs-toggle="modal"
    data-bs-target="#updateVideoModal"></button>